/*Navbar Background Color*/
.navbar-custom {
  background-color: #337F99;
  border-color: #337F99;
}

/*Inactive Link Color*/
.navbar-custom .navbar-nav > li > a {
    color: #C9C7C6;
}

/*Active Link Color*/
.navbar-custom .navbar-nav > .active > a {
    color: #337F99;
    background-color: #C9C7C6;
}


.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #BBCAFF;
}

/*Brand Lettering Color*/
.navbar-custom .navbar-brand {
    color: white;
}


.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#BBCAFF;
}







#oneDiv {
  height: 50vh;
  background-color: red;
}
#twoDiv {
  height: 50vh;
  background-color: purple;
}
#threeDiv {
  height: 50vh;
  background-color: pink;
}

#fourDiv {
  height: 50vh;
  background-color: blue;
}
#clayton-image {
  width: 100%;
}

#guitar-image {
  width: 100%;
}

#rain-image {
  width: 100%;
}
