.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
}


#oneDiv {
  height: 100%;
  background-color: red;
}
#twoDiv {
  height: 100%;
  background-color: purple;
}
#threeDiv {
  height: 100%;
  background-color: pink;
}

#fourDiv {
  height: 100%;
  background-color: blue;
}
#clayton-image {
  height: 280px;
  width: 100%;
  display: block;
}

#guitar-image {
  height: 280px;
  width: 100%;
  display: block;
}

#rain-image {
  height: 280px;
  width: 100%;
  display: block;
}

#kathy-image {
  height: 280px;
  width: 100%;
  display: block;
}
